{% extends "base.html" %}

{% block content %}
    <a href="{{ url_for('add_issue') }}" class="button">Add New Issue</a>
    <div class="issues-list">
        {% for issue in issues %}
        <div class="issue">
            <h3>{{ issue.title }}</h3>
            <p>{{ issue.description }}</p>
            <div class="vote-section">
                <span>Votes: {{ issue.votes }}</span>
                <form action="{{ url_for('vote', issue_id=issue.id) }}" method="post">
                    <button type="submit" class="vote-button">Vote</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    <a href="{{ url_for('results') }}" class="button">View Results</a>
{% endblock %}